html {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    gap: 10%;
    width: 100%
}

.card {
    display: flex;
    flex-direction: column;
    width: 125px;
    align-items: center;
}

.card-img {
    border: 2px;
    border-radius: 5px;
    border-color: rgb(102, 4, 110);
    border-style: solid;
    padding: 5px;
}

.header, .footer, .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background: linear-gradient(0deg, white, rgb(218, 144, 224));
    height: 25%;
    width: 100%;
}

.footer {
    background: linear-gradient(0deg, rgb(102, 4, 110), white);
    height: 25%;
    width: 100%;
    padding-bottom: 20px;
}

.board {
    height: 50%;
}

.mouseOver {
    transform: scale(1.1);
}

#response-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border: 2px rgb(172, 137, 175) solid;
}

#computerMove{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10%;
}

#response {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    background-color: rgba(230, 168, 235, 0.5);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: transparent;
}

.invisible {
    background: transparent;
    border: none;
}